

[submodule "robertogracias/odoosv16_202212300920"]
	path = robertogracias/odoosv16_202212300920
	url = git@github.com:robertogracias/odoosv16.git
	branch = main



[submodule "robertogracias/lomed_v16_202301030952"]
	path = robertogracias/lomed_v16_202301030952
	url = git@github.com:robertogracias/lomed_v16.git
	branch = main
