
[submodule "robertogracias/odoosv16"]
	path = robertogracias/odoosv16
	url = git@github.com:robertogracias/odoosv16.git
	branch = main


[submodule "robertogracias/lomed_v16_202212271113"]
	path = robertogracias/lomed_v16_202212271113
	url = git@github.com:robertogracias/lomed_v16.git
	branch = main
